@{
    ViewBag.Title = "清算";
}

<h3>清算页面</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="清   算" class="btn btn-primary btn-sm" /> 
       <h4>@Html.ActionLink("返回", "Index")</h4> 
    </div>
}