@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>元亨祥基金清算系统</h1>
    <p class="lead">用于基金财务清算的系统.</p>
    <p><a href="http://www.yhxbank.com" class="btn btn-primary btn-lg">了解元亨祥 &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>基金投资来源明细表</h2>
        <p>
            反映基金的投资来源。
        </p>
        <p><a class="btn btn-primary btn-sm" href="Fix_Prod_Batch/Index">基金批次投资来源明细表 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>投资人进账明细表</h2>
        <p>反映基金的投资人进账的具体内容。</p>
        <p><a class="btn btn-primary btn-sm" href="Fix_Product/Index">客户进账明细表 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>投资人兑付明细表</h2>
        <p>体现投资人兑付明细。</p>
        <p><a class="btn btn-primary btn-sm" href="客户兑付明细表/Index"> 客户兑付明细表&raquo;</a></p>      
    </div>
    <div class="col-md-4">
        <h2>到期项目表</h2>
        <p>提前向融资方催款。</p>
        <p><a class="btn btn-primary btn-sm" href="到期项目表/Index">到期项目表 &raquo;</a></p>
    </div>
</div>